# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# DB
POSTGRES_HOST="fe-isi-test-nizar-izzuddin-yatim-fadlan-db"
POSTGRES_PORT="5434"
POSTGRES_DBNAME="fe_isi_test_nizar_izzuddin_yatim_fadlan"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"

# JWT
JWT_SECRET="secret"
JWT_REFRESH_SECRET="refresh_secret"
JWT_EXPIRES_IN="10m"
JWT_REFRESH_EXPIRES_IN="7d"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
